[package]
name = "wild"
version = "0.2.0"
edition = "2021"

[dependencies]
wild_lib = { version = "0.2.0", path = "../wild_lib" }

# This is off by default, since it doesn't appear to help. However, if you're linking against musl
# libc, which has a comparatively slow allocator, then enabling this does help. To enable this,
# build with `--features mimalloc`.
mimalloc = { version = "0.1", default-features = false, optional = true }

[dev-dependencies]
anyhow = "1.0.93"
wait-timeout = "0.2.0"
itertools = "0.13.0"
object = { version = "0.36.5", default-features = false, features = [
    "elf",
    "read_core",
    "std",
    "unaligned",
] }
linker-diff = { path = "../linker-diff" }
which = "7.0.0"
rstest = "0.23.0"

[features]
default = [
    "fork",
]

fork = ["wild_lib/fork"]
