[package]
name = "wild"
version = "0.2.0"
edition = "2021"

[dependencies]
wild_lib = { version = "0.2.0", path = "../wild_lib" }
anyhow = "1.0.93"
libc = "0.2"

[dev-dependencies]
anyhow = "1.0.93"
wait-timeout = "0.2.0"
itertools = "0.13.0"
object = { version = "0.36.5", default-features = false, features = [
    "elf",
    "read_core",
    "std",
    "unaligned",
] }
linker-diff = { path = "../linker-diff" }
which = "7.0.0"
rstest = "0.23.0"
