[package]
name = "wild_lib"
version = "0.2.0"
edition = "2021"

[dependencies]
ahash = { version = "0.8.7", default-features = false, features = ["std"] }
anyhow = "1.0.75"
bytemuck = { version = "1.14.0", features = ["derive"] }
crossbeam-queue = "0.3.8"
crossbeam-utils = "0.8.18"
enumflags2 = "0.7.9"
linker-layout = { path = "../linker-layout" }
linker-trace = { path = "../linker-trace" }
memchr = "2.7.1"
memmap2 = "0.9.0"
object = { version = "0.35.0", default-features = false, features = [
    "elf",
    "read_core",
    "std",
    "unaligned",
] }
rayon = "1.8.0"
smallvec = "1.13.1"
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", default-features = false, features = [
    "registry",
] }

[dev-dependencies]
ar = "0.9.0"

[features]

# Enable work-in-progress features
wip = []
