[package]
name = "linker-diff"
version.workspace = true
description = "Diffs and validates ELF binaries"
edition = "2021"
repository.workspace = true

[dependencies]
linker-layout = { path = "../linker-layout" }
linker-trace = { path = "../linker-trace" }
linker-utils = { path = "../linker-utils" }
object = { version = "0.36.5", default-features = false, features = [
    "elf",
    "read_core",
    "std",
    "unaligned",
] }
iced-x86 = { version = "1.21.0", default-features = false, features = [
    "std",
    "decoder",
    "gas",
] }
symbolic-demangle = "12.12.3"
anyhow = "1.0.94"
clap = { version = "4.5.23", features = ["derive"] }
rayon = "1.10.0"
bytemuck = { version = "1.20.0", features = ["derive"] }
itertools = "0.13.0"
gimli = "0.31.1"
fallible-iterator = "0.3.0"

[lints]
workspace = true
