[package]
name = "linker-diff"
description = "Diffs and validates ELF binaries"
version.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
edition.workspace = true

[dependencies]
linker-layout = { path = "../linker-layout" }
linker-trace = { path = "../linker-trace" }
linker-utils = { path = "../linker-utils" }
object = { version = "0.36.7", default-features = false, features = [
    "elf",
    "read_core",
    "std",
    "unaligned",
] }
iced-x86 = { version = "1.21.0", default-features = false, features = [
    "std",
    "decoder",
    "gas",
] }
symbolic-demangle = "12.13.1"
anyhow = "1.0.95"
clap = { version = "4.5.26", features = ["derive"] }
rayon = "1.10.0"
bytemuck = { version = "1.21.0", features = ["derive"] }
itertools = "0.14.0"
gimli = "0.31.1"
fallible-iterator = "0.3.0"

[lints]
workspace = true
