name: CI

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: '-D warnings'

jobs:
  test-nightly:
    name: Test x86_64-linux nightly
    runs-on: ubuntu-latest
    strategy:
      matrix:
        container:
          - 'ubuntu:latest'
          - 'ubuntu:rolling'
          - 'opensuse/tumbleweed:latest'
          - 'fedora:latest'
      fail-fast: false

    container:
      image: ${{ matrix.container }}

    steps:
      - run: apt-get update && apt-get -y install gcc g++ clang lld curl bubblewrap
        if: ${{ contains(matrix.container, 'ubuntu') }}
      - run: su ubuntu && cd ~
        if: ${{ contains(matrix.container, 'ubuntu') }}
      - run: zypper in -y gcc gcc-c++ glibc-devel-static clang lld curl rustup
        if: ${{ contains(matrix.container, 'opensuse') }}
      - run: yum install -y gcc gcc-c++ clang lld curl rustup
        if: ${{ contains(matrix.container, 'fedora') }}
      - run: useradd -m -g users user && user && cd ~
        if: ${{ contains(matrix.container, 'opensuse') || contains(matrix.container, 'fedora') }}
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        id: rust-toolchain
        with:
          targets: x86_64-unknown-linux-gnu,x86_64-unknown-linux-musl
          components: rustc-codegen-cranelift-preview
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-${{ matrix.container }}-cargo-${{ steps.rust-toolchain.outputs.cachekey }}-${{ hashFiles('**/Cargo.lock') }}
      - run: cargo build --profile ci --workspace --no-default-features
      - run: cargo test --profile ci --workspace

  clippy:
    name: Clippy
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable
      id: rust-toolchain
      with:
        components: clippy
    - uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          target/
        key: ${{ runner.os }}-clippy-${{ steps.rust-toolchain.outputs.cachekey }}-${{ hashFiles('**/Cargo.lock') }}
    - run: cargo clippy --workspace --target x86_64-unknown-linux-gnu

  rustfmt:
    name: Check formatting
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@nightly
      with:
        components: rustfmt
    - run: cargo fmt --all -- --check

  markdown-link-check:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
