on:
  schedule:
    - cron: '35 12 9,22 * *'
  workflow_dispatch:

name: Cron continuous integration

permissions: {}

jobs:
  markdown-link-check:
    if: github.repository_owner == 'davidlattimore'
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: umbrelladocs/action-linkspector@v1
        with:
          reporter: github-check
          filter_mode: "nofilter"
